@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffb400;
  --light_primary: #ffc333;
  --dark_primary: #cc9000;
  --secondary: #171717;
  --light_secondary: #282828;
  --terciary: #f6f6f6;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;
}

a:hover {
  text-decoration: underline;
}

hr {
  background-color: black;
  width: 100%;
  height: 4px;
}

.transition-simple {
  transition: 0.4s;
}
