@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffb400;
  --light_primary: #ffc333;
  --dark_primary: #cc9000;
  --secondary: #171717;
  --light-secondary: #282828;
  --terciary: #f6f6f6;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: underline;
}
